@import "styles/normalize.min.css";

* {
  box-sizing: border-box;
}

html {
  color: #5a5a5a;
  background: #fff;
  font-family: Helvetica, sans-serif;
  font-display: swap;
}

h1 {
  font-weight: normal;
}

/* Remove native styles */
button {
  background: none;
  border: none;
}

ul {
  padding-left: 0;
  list-style: none;
}

p {
  margin: 3px auto;
}

.container {
  padding-right: 8.333333%;
  padding-left: 8.333333%;
}

.container > .section {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.center {
  text-align: center;
}

.pointer,
.btn-link,
.taskgroup-content,
.taskgroup-icon,
.task-wrapper input:not(input:disabled) + .bullet-text,
.task-wrapper > input:not(input:disabled) {
  cursor: pointer;
}

.btn-link {
  font-weight: lighter;
  color: #007bff;
}

.btn-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

ul.todo-list li,
.taskgroup-box {
  width: 100%;
  height: 100px;
  position: relative;
  border-top: 1px solid #ccc;
}

ul.todo-list li:last-child,
.taskgroup-box:last-child {
  border-bottom: 1px solid #ccc;
}

.task-wrapper,
.task-wrapper .bullet-text,
.taskgroup-content,
.taskgroup-icon {
  top: 50%;
  position: absolute;
  min-width: max-content;
  transform: translateY(-50%);
}

.taskgroup-icon {
  min-width: 10px;
  margin-left: 1rem;
  content: url("/src/images/icons/group.svg");
}

.taskgroup-info {
  margin-left: 4rem;
}

.task-wrapper > input {
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid #ddd;
  transition-duration: 0.25s;
  background-repeat: no-repeat;
}

.task-wrapper > input:active {
  border: 2px solid #34495e;
}

.task-wrapper > input:checked:not(input:disabled) {
  background-image: url("/src/images/icons/completed.svg");
}

.task-wrapper > input:checked:not(input:disabled) + span.bullet-text {
  text-decoration: line-through;
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
}

.task-wrapper > input:disabled {
  border: none;
  background-size: 15px;
  background-image: url("/src/images/icons/locked.svg");
}

.task-wrapper > input + span.bullet-text {
  transition-duration: 0.35s;
  margin-left: 3.8rem;
}

.task-wrapper > input:disabled + span.bullet-text {
  color: #a1a1a1;
}

.bullet-text {
  font-size: larger;
  font-weight: bold;
}

.text-light {
  color: #b3b3b3;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}
